<h1>Car Sales</h1>
<p>Welcome!!</p>

<div>

  <label>Select Language Preference</label>
  <div>

    <select [(ngModel)]="selectedGroupName">
      <option *ngFor="let x of languages" value={{x.groupName}}>{{x.groupDescription}}</option>
    </select>`

  </div>
  <label>Select Car Type Preference</label>
  <div>

    <select [(ngModel)]="selectedCarType">
      <option *ngFor="let x of carTypes" value={{x.groupName}}>{{x.groupDescription}}</option>
    </select>`

  </div>
  <p></p>

  <div>
    <button class="btn btn-primary" (click)="getSalesPersonName()">Assign Sales Person</button>
  </div>
  <p></p>
  
    <div>
      <span></span>
     <label>
          Assigned Sales Person Name:
          <b>{{assignedSalesPerson.salesPersonName}} </b>
        </label>
      <div>
        <label>
          Assigned Sales Person Specialities are:
        </label>
      </div>
      <div>
        <ul >
          <li *ngFor=" let speciality of assignedSalesPerson.specialityList">
            {{speciality}}
          </li>
        </ul>
      </div>
    </div>
  
</div>

